

html, body {

    background-image: url(../imgs/background.svg);
    background-size: cover;
    height: 100%;
    
}

.gameBoard {

    border: 10px solid #BF7930;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #BF7930;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cell {

    margin: 0;
    border: 2px solid #BF7930;
    background-color: rgb(153, 97, 38);
    width: 60px;
    height: 60px;

}

.row {

    border: 2px solid #BF7930;

}

.obstacle {

    background-image: url(../imgs/obstacle.svg);
    background-repeat: no-repeat;
    
}

.weaponRandom {
    padding: 10px;
}

.weaponStartThePlayer {
    z-index: 1;
    width: 20px;
    margin-left: 10px;
    position: absolute;
    margin-top: 0;
    transform: scaleX(-1);
}

.playerWithStartWeapon {
    z-index: 1;
    background-repeat: no-repeat;
    position: relative;

}

@keyframes blinkingBlueBackground {
    0% { }
    50% { background-color: rgb(119, 119, 243); }
} 

.moveIsPossiblePlayer1 {

    background-color: royalblue;
    animation: blinkingBlueBackground 2s infinite; 
}

@keyframes blinkingRedBackground {
    0%  {}
    50% { color: rgb(243, 158, 158); }
}

.moveIsPossiblePlayer2 {

    background-color: #ff3333;
    animation: blinkingRedBackground 2s infinite;

}

@keyframes blinkingPurpleBackground {
    0%  {}
    50% { color: rgba(191, 85, 236, 1); }    
}

.moveIsPossibleBothPlayer {

    background-color: #b300b3;
    /* animation: blinkingBackground 3s infinite; */

}