/*************
* Google Fonts
**************/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dhurjati&display=swap');


html, body {

    background-image: url(../imgs/background.svg);
    background-size: cover;
    width: 100%;
}

body {
    margin: 0 !important;
}

.gameContainer {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.gameBoard {
    border: 10px solid #BF7930;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #BF7930;

}

.titleGame {
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    font-size: 25px;
    font-family: 'Bangers', cursive;
}

.rulesBar {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #00E53D;
    font-family: 'Dhurjati', sans-serif;
}

.rules {
    background: black;
    padding: 10px;
    border-radius: 3px;
}

.startGamePile,
.startGameFace {

    background: black;
    border-radius: 3px;
    border: 1px solid #00E53D;
    color: #00E53D;
    font-family: 'Dhurjati', sans-serif;

}

.playerName1,
.playerName2 {

    color: #fff;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    font-size: 30px;
}

.playerImg1 {

    border-radius: 50%;
    border: 2px solid #9B59B6;
    background: royalblue;
    padding: 10px;
    margin-bottom: 20px;

}

.playerImg2 {

    border-radius: 50%;
    border: 2px solid #9B59B6;
    background: #ff3333;
    padding: 10px;
    margin-bottom: 20px;

}

.createNameContainer {

    border-top: 5px solid #9B59B6;
    padding: 20px;

}

.createName1,
.createName2 {

    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px; 

}

.createName1::placeholder,
.createName2::placeholder { 

    font-family: 'Arial', Helvetica, sans-serif !important;

}

.buttonCreateName {

    background: royalblue;
    color: #fff;
    border: 1px solid royalblue;
    border-radius: 3px;
    padding: 5px;

}

.gameBoardContainer {

    display: inline-block;

}

.playerPanel1 {

    background: #2a0080;
    height: 610px;
    width: 300px;
    border: 5px solid ;
    border-radius: 3px; 
    border: 5px solid #9B59B6;
    margin-left: 10%;
    margin-top: 15px;
    float: left;

}

.playerPanel2 {

    background: #2a0080;
    height: 610px;
    width: 300px;
    border-radius: 3px;
    border: 5px solid #9B59B6;
    margin-right: 10%;
    margin-top: 15px;
    float: right;

}

.fightingMessage1,
.fightingMessage2 {

    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.infoWeaponPlayer1,
.infoWeaponPlayer2 {

    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 20px;
}

.infoWeaponDamagePlayer1,
.infoWeaponDamagePlayer2 {

    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 20px;

}

.attackMessage1,
.attackMessage2 {

    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 15px;

}

.defendBtn1,
.defendBtn2 {
    background: royalblue;
    color: #fff;
    border: 1px solid royalblue;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
}

.attackBtn1,
.attackBtn2 {
    background: #ff3333;
    color: #fff;
    border: 1px solid #ff3333;
    padding: 10px;
    border-radius: 3px;  
    margin: 5px;
}

.cell {

    margin: 0;
    border: 2px solid #BF7930;
    background-color: rgb(153, 97, 38);
    width: 60px;
    height: 60px;

}

.row {

    border: 2px solid #BF7930;

}

.playerNameChanged1,
.playerNameChanged2 {

    color: white;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 20px;

}

.playerLifeInfo1,
.playerLifeInfo2 {

    color: white;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 20px;  

}

.playerWeaponInfo {

    color: white;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 20px;  

}

.weaponInfoDamage {

    color: white;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 20px;  

}

progress {

    background-color: green;

}

/********
* Weapons
*********/

.Fork {

    background-image: url('../imgs/weapons/Fork.png');
    background-color: rgb(153, 97, 38);
    background-repeat: no-repeat;
    background-position: center;   
}

.Lazer {

    background-image: url('../imgs/weapons/Lazer.png');
    background-color: rgb(153, 97, 38);
    background-repeat: no-repeat;
    background-position: center;    

}

.Maxi {

    background-image: url('../imgs/weapons/Maxi.png');
    background-color: rgb(153, 97, 38);
    background-repeat: no-repeat;
    background-position: center;    

}

.Mega {

    background-image: url('../imgs/weapons/Mega.png');
    background-color: rgb(153, 97, 38);
    background-repeat: no-repeat;
    background-position: center;    

}

.playWithFork {

    background-image: url('../imgs/weapons/Fork.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 25px top;

}

.playWithLazer {

    background-image: url('../imgs/weapons/Lazer.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 25px top;

}

.playWithMaxi {

    background-image: url('../imgs/weapons/Maxi.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 25px top;

}

.playWithMega {

    background-image: url('../imgs/weapons/Mega.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 25px top;

}


.obstacle {

    background-image: url(../imgs/obstacle.svg);
    background-repeat: no-repeat;
    
}

.weaponStartThePlayer {

    z-index: 1;
    width: 20px;
    margin-left: 10px;
    position: absolute;
    margin-top: 0;
    transform: scaleX(-1);
}

.playerWithStartWeapon {

    z-index: 1;
    background-repeat: no-repeat;
    position: relative;

}

.fight {
    height: 400px;
    width: 400px;
    border-radius: 3px;
    border: 5px solid #9B59B6;
    margin:  30px;
    padding: 20px;
    background-color: #2a0080;
}

@keyframes blinkingBlueBackground {
    0% { }
    50% { background-color: rgb(119, 119, 243); }
} 

.moveIsPossible1 {

    background-color: royalblue;
    animation: blinkingBlueBackground 2s infinite; 
}

@keyframes blinkingRedBackground {
    0%  {}
    50% { color: rgb(243, 158, 158); }
}

.moveIsPossible2 {

    background-color: #ff3333;
    animation: blinkingRedBackground 2s infinite;

}


@keyframes blinkingPurpleBackground {
    0%  {}
    50% { color: rgba(191, 85, 236, 1); }    
}

@media screen and (min-width: 1000px) and (max-width: 1608px) {


    html, body {

        background-size: auto;
        width: 100%;
        background-repeat: no-repeat;

    }

    .playerPanel1,
    .playerPanel2 {
        margin-right: 0px;
        margin-left: 0px;
        width: 175px;
    }

}